/*------------------------------------------------------------------*/
/*--------------------------- VARIABLES ----------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*--------------------------- VARIABLES ----------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*----------------------------- MIXINS -----------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*-------------------------- TYPOGRAPHY ----------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*----------------------------- FONTS ------------------------------*/
/*------------------------------------------------------------------*/
/* line 5, ../scss/_typography.scss */
html {
  height: 100%;
}

/* line 8, ../scss/_typography.scss */
body {
  font-family: Verdana, Arial, Tahoma;
  font-size: 13px;
  color: #323232;
  background: #22262c;
}

/* line 16, ../scss/_typography.scss */
.page-title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 27px;
  margin-bottom: 17px;
}

/* line 23, ../scss/_typography.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 27, ../scss/_typography.scss */
h5 {
  margin-bottom: 18px;
}

/* line 1, ../scss/_char.scss */
.characters {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background: #fff;
  z-index: 3;
  border: 1px solid #cbcbcb;
  margin-top: 10px;
  padding: 6px;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
}
/* line 12, ../scss/_char.scss */
.characters + .characters {
  display: none;
}
/* line 15, ../scss/_char.scss */
.characters ul {
  padding: 0;
}
/* line 17, ../scss/_char.scss */
.characters ul li {
  list-style: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #cbcbcb;
  margin: 3px;
  text-align: center;
  line-height: 30px;
  font-size: 21px;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  background: #fff;
}
/* line 31, ../scss/_char.scss */
.characters ul li:hover {
  background: #00B0CB;
  color: #fff;
  transform: scale(1.2);
  z-index: 1;
}

/*------------------------------------------------------------------*/
/*---------------------------- LAYOUT ------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*-------------------------- MENU SPRITE ---------------------------*/
/*------------------------------------------------------------------*/
/* line 5, ../scss/_sprite.scss */
[class*=menu-icon-]:before {
  content: '';
  background-image: url(../img/sprite.png);
  display: inline-block;
  width: 29px;
  height: 26px;
  position: relative;
  top: -3px;
}

/* line 15, ../scss/_sprite.scss */
.menu-icon-home:before {
  background-position: 0 0;
}

/* line 19, ../scss/_sprite.scss */
.menu-icon-gebruikers:before {
  background-position: -52px 0;
}

/* line 22, ../scss/_sprite.scss */
.menu-icon-bibliotheek:before {
  background-position: -98px 0px;
}

/* line 25, ../scss/_sprite.scss */
.menu-icon-project:before {
  background-position: -149px 0;
}

/*------------------------------------------------------------------*/
/*---------------------------- NAV BAR -----------------------------*/
/*------------------------------------------------------------------*/
/* line 5, ../scss/_header.scss */
.chromeperfectpixel-overlay.ui-draggable {
  z-index: -1 !important;
}

/* line 8, ../scss/_header.scss */
.logo {
  float: left;
  padding: 11px 12px 15px 18px;
}

/* line 13, ../scss/_header.scss */
#page-wrapper {
  overflow: hidden;
  z-index: 1;
  opacity: 1;
}

/* line 18, ../scss/_header.scss */
.nav-bar {
  background: #000;
  box-shadow: 0 0 12.9px 0 rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  z-index: 5;
}
/* line 24, ../scss/_header.scss */
.nav-bar:after {
  display: table;
  content: '';
  clear: both;
}
/* line 29, ../scss/_header.scss */
.nav-bar a {
  color: #99a2af;
  text-decoration: none;
}

/* line 35, ../scss/_header.scss */
.breadcrumbs {
  float: left;
}
/* line 37, ../scss/_header.scss */
.breadcrumbs ul {
  padding-left: 22px;
  margin-bottom: 9px;
}
/* line 42, ../scss/_header.scss */
.breadcrumbs li {
  display: inline-block;
  padding: 18px 0  3px;
}
/* line 45, ../scss/_header.scss */
.breadcrumbs li .fa {
  margin: 0 12px;
}
/* line 49, ../scss/_header.scss */
.breadcrumbs li a {
  font-size: 13px;
  letter-spacing: -0.5px;
  color: #fff;
}

/* line 57, ../scss/_header.scss */
.account-nav {
  float: right;
  margin: 0 25px 0 0;
  border-right: 1px solid #2A2E36;
}
/* line 61, ../scss/_header.scss */
.account-nav ul {
  margin-bottom: 0;
  padding: 0;
}
/* line 66, ../scss/_header.scss */
.account-nav li {
  display: inline-block;
  border-left: 1px solid #2A2E36;
  padding: 0 10px;
  color: #fff;
}
/* line 71, ../scss/_header.scss */
.account-nav li:first-child {
  border: 0;
}
/* line 74, ../scss/_header.scss */
.account-nav li a {
  font-size: 12px;
  font-weight: 400;
  padding: 22px 0 11px;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}
/* line 82, ../scss/_header.scss */
.account-nav li .fa {
  font-size: 16px;
  font-weight: 100;
  margin-left: 3px;
}
/* line 86, ../scss/_header.scss */
.account-nav li .fa:before {
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 89, ../scss/_header.scss */
.account-nav li .fa:hover:before {
  color: #646C77;
}
/* line 93, ../scss/_header.scss */
.account-nav li img {
  border-radius: 50%;
  margin-right: 23px;
  margin-top: 5px;
}
/* line 97, ../scss/_header.scss */
.account-nav li img + a {
  margin-right: 8px;
}

/* line 105, ../scss/_header.scss */
.header-contact {
  float: left;
  font-size: 10px;
  letter-spacing: 0px;
  padding: 13px 22px 13px 10px;
  border-left: 1px solid #2a2e36;
  margin-left: 2px;
  border-right: 1px solid #2a2e36;
}
/* line 113, ../scss/_header.scss */
.header-contact span {
  color: #fff;
  display: block;
}

/*------------------------------------------------------------------*/
/*-------------------------- NAV SIDEBAR ---------------------------*/
/*------------------------------------------------------------------*/
/* line 124, ../scss/_header.scss */
.nav-sidebar {
  float: left;
  width: 160px;
  background: #22262c;
  margin-top: 52px;
  margin-right: -100%;
}

/* line 132, ../scss/_header.scss */
.menu-sidebar {
  padding: 0;
  margin-top: -3px;
}
/* line 135, ../scss/_header.scss */
.menu-sidebar > li.active > a {
  background-color: #2a2e36;
  border-left: 3px solid #4d5d7c;
  color: #fff;
}
/* line 140, ../scss/_header.scss */
.menu-sidebar li {
  position: relative;
  list-style: none;
  border-left: 0;
}
/* line 144, ../scss/_header.scss */
.menu-sidebar li.active > a {
  color: #fff;
}
/* line 147, ../scss/_header.scss */
.menu-sidebar li.active > .fa {
  color: #fff;
}
/* line 150, ../scss/_header.scss */
.menu-sidebar li.open > ul {
  display: block;
}
/* line 153, ../scss/_header.scss */
.menu-sidebar li.open > .fa {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #fff;
}
/* line 157, ../scss/_header.scss */
.menu-sidebar li.open > a {
  color: #fff;
}
/* line 160, ../scss/_header.scss */
.menu-sidebar li ul {
  padding: 0;
  z-index: 5;
  display: none;
}
/* line 164, ../scss/_header.scss */
.menu-sidebar li ul li {
  padding: 0;
  background: #111316;
}
/* line 168, ../scss/_header.scss */
.menu-sidebar li ul li a {
  padding-left: 42px;
  border-color: #060607;
}
/* line 172, ../scss/_header.scss */
.menu-sidebar li ul li li a {
  padding-left: 55px;
}
/* line 178, ../scss/_header.scss */
.menu-sidebar li a {
  display: block;
  color: #4c5b79;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.6px;
  padding: 27px 12px 15px;
  border-bottom: 1px solid #2a2e36;
  text-decoration: none;
}
/* line 187, ../scss/_header.scss */
.menu-sidebar li a:hover {
  background: #2a2e36;
}
/* line 189, ../scss/_header.scss */
.menu-sidebar li a:hover + .fa {
  color: #fff;
}
/* line 194, ../scss/_header.scss */
.menu-sidebar li .fa {
  position: absolute;
  right: 0px;
  top: 20px;
  width: 30px;
  height: 30px;
  color: #4c5b79;
  line-height: 33px;
  text-align: center;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 205, ../scss/_header.scss */
.menu-sidebar li span {
  vertical-align: top;
}

/*------------------------------------------------------------------*/
/*----------------------------- BLOCKS -----------------------------*/
/*------------------------------------------------------------------*/
/* line 6, ../scss/_blocks.scss */
#content {
  float: left;
  margin-left: 0px;
  padding-top: 50px;
  width: 100%;
}

/* line 13, ../scss/_blocks.scss */
.container {
  width: auto;
  padding: 25px 26px 0 34px;
  background: #eef1f5;
  margin-left: 160px;
  min-height: 1000px;
}

/* line 21, ../scss/_blocks.scss */
.block {
  background-color: #fff;
  padding: 13px 19px 9px;
  margin-bottom: 13px;
}
/* line 25, ../scss/_blocks.scss */
.block:after {
  content: '';
  display: table;
  clear: both;
}

/* line 32, ../scss/_blocks.scss */
.bordered {
  border-left: 3px solid #00b0cb;
}
/* line 34, ../scss/_blocks.scss */
.bordered.border-orange {
  border-left-color: #F39769;
}

/* line 39, ../scss/_blocks.scss */
.space {
  display: block;
  /*clear: both;*/
  height: 50px;
}

/* line 45, ../scss/_blocks.scss */
.h20 {
  height: 20px;
}

/* line 49, ../scss/_blocks.scss */
.h70 {
  height: 70px;
}

/* line 53, ../scss/_blocks.scss */
.h10 {
  height: 10px;
}

/* line 57, ../scss/_blocks.scss */
.no-margin-bottom {
  margin-bottom: 0 !important;
}

/* line 61, ../scss/_blocks.scss */
.border-bottom {
  border-bottom: 1px solid #EEF1F5;
}

/*------------------------------------------------------------------*/
/*----------------------------- FILTER -----------------------------*/
/*------------------------------------------------------------------*/
/* line 69, ../scss/_blocks.scss */
.active-filter a {
  padding: 6px 22px 8px 11px;
  display: inline-block;
  border: 1px solid;
  border-radius: 30px;
  margin-right: 9px;
  border-color: #fa661d;
  text-decoration: none;
  color: #000;
  font-size: 13px;
}

/* line 81, ../scss/_blocks.scss */
.active-filter a i {
  margin-right: 7px;
  color: #fa661d;
}

/* line 86, ../scss/_blocks.scss */
.filter-options {
  margin-bottom: 19px;
}
/* line 88, ../scss/_blocks.scss */
.filter-options .active-option {
  padding: 9px 17px;
}
/* line 91, ../scss/_blocks.scss */
.filter-options .select {
  width: 204px;
}

/* line 96, ../scss/_blocks.scss */
.filter-buttons .btn {
  margin-bottom: 14px;
}

/*------------------------------------------------------------------------*/
/*----------------------------- CALENDAR ---------------------------------*/
/*------------------------------------------------------------------------*/
/* line 106, ../scss/_blocks.scss */
.datepicker.datepicker-dropdown {
  border-radius: 0;
  box-shadow: 5px 3px 0 0 rgba(0, 0, 0, 0.1);
  margin-top: 300px;
}

/* line 112, ../scss/_blocks.scss */
.datepicker table tr td.day:hover {
  border-radius: 0;
}
/* line 116, ../scss/_blocks.scss */
.datepicker table tr td.active.active {
  border-radius: 0;
  background: #00B0CB;
}

/* line 121, ../scss/_blocks.scss */
.datepicker-dropdown.datepicker-orient-bottom:before {
  top: -7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #D9D9D9 transparent;
}

/* line 130, ../scss/_blocks.scss */
.datepicker-dropdown.datepicker-orient-bottom:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #ffffff transparent;
  top: -6px;
  left: 6px;
}

/*------------------------------------------------------------------------*/
/*--------------------------- HTML EDITOR --------------------------------*/
/*------------------------------------------------------------------------*/
/* line 145, ../scss/_blocks.scss */
ul.wysihtml5-toolbar > li {
  display: none;
  margin-bottom: 0;
}
/* line 148, ../scss/_blocks.scss */
ul.wysihtml5-toolbar > li:nth-child(2) {
  display: block;
}

/* line 154, ../scss/_blocks.scss */
textarea.wysihtml {
  width: 100%;
  height: 240px;
  border: 0;
  padding: 0px 40px 0px 23px;
  line-height: 24px;
  border-bottom: 1px solid #eef1f5;
  margin-bottom: 5px;
}
/* line 162, ../scss/_blocks.scss */
textarea.wysihtml:focus {
  outline: none;
}

/* line 167, ../scss/_blocks.scss */
.mail-form {
  background: #fff;
}

/* line 171, ../scss/_blocks.scss */
.mail-header {
  border-left: 3px solid #f6b492;
  padding: 12px 10px 50px 1px;
  margin-bottom: -48px;
}

/* line 177, ../scss/_blocks.scss */
.mail-header > div > div {
  float: left;
}

/* line 181, ../scss/_blocks.scss */
.mail-header .mail-title {
  width: 10.6%;
  text-align: right;
  padding-right: 14px;
  color: #a5adb8;
  font-weight: 600;
}

/* line 189, ../scss/_blocks.scss */
.mail-header .mail-value {
  width: 80%;
}

/* line 193, ../scss/_blocks.scss */
.mail-header > div {
  padding-bottom: 1px;
  border-bottom: 1px solid #eef1f5;
  margin-bottom: 6px;
}

/* line 199, ../scss/_blocks.scss */
.mail-header > div:after {
  content: '';
  display: table;
  clear: both;
}

/* line 205, ../scss/_blocks.scss */
.mail-value textarea {
  outline: 0;
  border: 0;
  resize: none;
  width: 100%;
  padding: 0;
  height: 40px;
  line-height: 20px;
}

/* line 215, ../scss/_blocks.scss */
.mail-value input[type=text] {
  border: 0;
  margin-bottom: 6px;
  padding: 0;
  box-shadow: none;
  color: #7a818a;
  width: 100%;
}

/* line 224, ../scss/_blocks.scss */
.mail-value input[type=text]:focus {
  border: 0;
  outline: none;
}

/* line 228, ../scss/_blocks.scss */
ul.wysihtml5-toolbar {
  margin-left: 6px;
}

/* line 232, ../scss/_blocks.scss */
.mail-form button.btn {
  margin-left: 13px;
  padding-left: 15px;
  padding-right: 19px;
  margin-bottom: 10px;
}

/* line 238, ../scss/_blocks.scss */
ul.wysihtml5-toolbar {
  margin-left: 6px;
  border-bottom: 1px solid #eef1f5;
  margin-bottom: 25px;
}

/* line 243, ../scss/_blocks.scss */
ul.wysihtml5-toolbar a.btn {
  background: transparent;
  color: #000;
  font-size: 13px;
  padding: 7px 22px;
  margin-bottom: 10px;
}

/* line 250, ../scss/_blocks.scss */
ul.wysihtml5-toolbar a.btn.wysihtml5-command-active {
  background: #EEF1F5;
  box-shadow: none;
}

/* line 255, ../scss/_blocks.scss */
.mail-header > div:last-child .mail-value input[type=text] {
  font-weight: 600;
}

/*---------------------------------------------------------------------*/
/*---------------------------- INLINE EDIT ----------------------------*/
/*---------------------------------------------------------------------*/
/* line 263, ../scss/_blocks.scss */
.skill, .fase {
  font-size: 20px;
}

/* line 267, ../scss/_blocks.scss */
.inline-edit {
  border-bottom: 1px dashed #f7b797;
  cursor: pointer;
}

/* line 272, ../scss/_blocks.scss */
.edit-block {
  display: inline;
}
/* line 274, ../scss/_blocks.scss */
.edit-block .edit-form {
  display: inline-block;
}
/* line 276, ../scss/_blocks.scss */
.edit-block .edit-form .btn {
  margin: 0;
  width: 38px;
  padding: 0;
  height: 34px;
  vertical-align: top;
}
/* line 282, ../scss/_blocks.scss */
.edit-block .edit-form .btn[type="button"] {
  background: #d2232a;
}

/*---------------------------------------------------------------------*/
/*------------------------------- FASE --------------------------------*/
/*---------------------------------------------------------------------*/
/* line 293, ../scss/_blocks.scss */
.fase {
  font-weight: 600;
}
/* line 296, ../scss/_blocks.scss */
.fase > .pull-right {
  font-size: 14px;
  color: #a1a1a1;
  font-weight: 400;
  position: relative;
  top: 7px;
}
/* line 302, ../scss/_blocks.scss */
.fase > .pull-right .btn {
  height: 26px;
  width: 27px;
  font-size: 13px;
}

/* line 310, ../scss/_blocks.scss */
.fase-block .block {
  margin-bottom: 11px;
}

/* line 314, ../scss/_blocks.scss */
.field-container {
  padding-left: 35px;
  margin-bottom: 14px;
}

/* line 319, ../scss/_blocks.scss */
.field {
  line-height: 30px;
}
/* line 321, ../scss/_blocks.scss */
.field .edit-block {
  display: inline-block;
  margin-top: 2px;
}
/* line 324, ../scss/_blocks.scss */
.field .edit-block .edit-form .btn {
  height: 27px;
  width: 27px;
  font-size: 12px;
}
/* line 329, ../scss/_blocks.scss */
.field .edit-block .edit-form input {
  height: 27px;
  margin: 0;
  line-height: 16px;
  vertical-align: top;
}

/* line 339, ../scss/_blocks.scss */
.number {
  margin-right: 30px;
}

/* line 343, ../scss/_blocks.scss */
.add-new-field {
  margin-left: 35px;
  padding: 6px 12px;
  font-weight: 600;
  margin-bottom: 33px;
}

/*---------------------------------------------------------------------*/
/*----------------------------- MESSAGE -------------------------------*/
/*---------------------------------------------------------------------*/
/* line 354, ../scss/_blocks.scss */
.message {
  position: fixed;
  top: 60px;
  right: 0;
  z-index: 100;
  color: #fff;
  background: #00B0CB;
  padding: 12px 20px;
  font-size: 14px;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-transition: 0.3s cubic-bezier(0.26, 0.69, 0.5, 1.63);
  -webkit-transition: 0.3s cubic-bezier(0.26, 0.69, 0.5, 1.63);
  transition: 0.3s cubic-bezier(0.26, 0.69, 0.5, 1.63);
}
/* line 365, ../scss/_blocks.scss */
.message.active {
  -moz-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
/* line 368, ../scss/_blocks.scss */
.message:after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  background: inherit;
  content: '';
}

/*---------------------------------------------------------------------*/
/*------------------------- PROJECT INFO ------------------------------*/
/*---------------------------------------------------------------------*/
/* line 385, ../scss/_blocks.scss */
.project-info {
  margin-bottom: 0;
  padding-bottom: 16px;
  border-bottom: 1px solid #eef1f5;
}
/* line 389, ../scss/_blocks.scss */
.project-info div {
  margin-bottom: 5px;
}
/* line 392, ../scss/_blocks.scss */
.project-info span:first-child {
  width: 176px;
  display: inline-block;
}

/*---------------------------------------------------------------------*/
/*---------------------------- HANDLES --------------------------------*/
/*---------------------------------------------------------------------*/
/* line 404, ../scss/_blocks.scss */
.portlet {
  margin-bottom: 57px;
}

/* line 408, ../scss/_blocks.scss */
.dd-item > button {
  margin: 5px 6px 3px 35px;
}
/* line 410, ../scss/_blocks.scss */
.dd-item > button[data-action="collapse"]:before, .dd-item > button[data-action="expand"]:before {
  font-family: fontawesome;
  font-size: 14px;
  content: "\f07c";
}
/* line 415, ../scss/_blocks.scss */
.dd-item > button[data-action="expand"]:before {
  content: "\f07b";
}
/* line 418, ../scss/_blocks.scss */
.dd-item > button + .dd-handle > i {
  display: none;
}
/* line 422, ../scss/_blocks.scss */
.dd-item .dd-item > button {
  margin-left: 24px;
}
/* line 425, ../scss/_blocks.scss */
.dd-item .dd-handle {
  background: #fff;
  border-color: #e0e0e0;
  border-radius: 0;
  font-size: 12px;
}
/* line 430, ../scss/_blocks.scss */
.dd-item .dd-handle .fa {
  font-size: 14px;
  margin-right: 10px;
  margin-left: 17px;
}

/* line 438, ../scss/_blocks.scss */
.dd-list .dd-list {
  padding-left: 37px;
}
/* line 440, ../scss/_blocks.scss */
.dd-list .dd-list .dd-list {
  padding-left: 29px;
}

/* line 445, ../scss/_blocks.scss */
.form-control.serialized-output {
  color: #ff663d;
  font-size: 12px;
  padding: 12px 29px;
  min-height: 109px;
  margin-bottom: 26px;
}

/*-------------*/
/* line 459, ../scss/_blocks.scss */
.layer-menu {
  background: #2a313d;
  color: #4c5b79;
  float: left;
  margin-left: 160px;
  height: 100%;
  position: relative;
  font-size: 12px;
  width: 272px;
  padding-top: 15px;
}
/* line 469, ../scss/_blocks.scss */
.layer-menu .btn {
  margin-left: 21px;
  padding: 7px 22px 24px 18px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  height: 35px;
  margin-bottom: 27px;
}
/* line 477, ../scss/_blocks.scss */
.layer-menu .btn .fa {
  margin-right: 14px;
  font-size: 14px;
}
/* line 482, ../scss/_blocks.scss */
.layer-menu + .container {
  padding-left: 297px;
  padding-top: 15px;
  padding-right: 37px;
}
/* line 487, ../scss/_blocks.scss */
.layer-menu:after {
  content: '';
  background: inherit;
  width: 100%;
  top: 100%;
  left: 0;
  position: absolute;
  height: 3000px;
}
/* line 496, ../scss/_blocks.scss */
.layer-menu .portlet {
  margin-left: -10px;
}

/* line 502, ../scss/_blocks.scss */
.jstree-default .jstree-hovered, .jstree-default .jstree-clicked {
  background: transparent;
  border: 0;
  box-shadow: none;
  color: #fff;
}

/* line 509, ../scss/_blocks.scss */
.jstree-default .jstree-open > .jstree-ocl, .jstree-default .jstree-closed > .jstree-ocl {
  width: 43px;
  margin-right: -19px;
  position: relative;
  z-index: 1;
}

/* line 516, ../scss/_blocks.scss */
.jstree-default > .jstree-container-ul > .jstree-node {
  background: transparent;
}

/* line 520, ../scss/_blocks.scss */
.jstree-default > .jstree-container-ul > .jstree-leaf > .jstree-ocl {
  background: transparent;
}

/* line 524, ../scss/_blocks.scss */
.jstree-container-ul > li > .jstree-icon.jstree-ocl {
  opacity: 0;
}

/* line 528, ../scss/_blocks.scss */
.jstree-default .jstree-anchor {
  white-space: normal;
  height: auto;
  width: 200px;
  padding-left: 30px;
  position: relative;
  transition: 0.3s;
  line-height: 21px;
}

/* line 538, ../scss/_blocks.scss */
.jstree-default .jstree-themeicon-custom {
  position: absolute;
  left: 0px;
  font-size: 15px;
}

/* line 544, ../scss/_blocks.scss */
.jstree-default .jstree-children .jstree-children > .jstree-node:first-child {
  padding-top: 12px;
}

/* line 547, ../scss/_blocks.scss */
.jstree-default .jstree-children .jstree-children .jstree-children > li > .jstree-anchor {
  margin-bottom: 18px;
}

/* line 550, ../scss/_blocks.scss */
.jstree-default .jstree-children .jstree-children .jstree-children .jstree-themeicon-custom {
  left: 4px;
}

/* line 554, ../scss/_blocks.scss */
.jstree-default .jstree-anchor .fa-trash {
  border: 1px solid;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 24px;
  margin-left: 10px;
}

/*------------------------------------------------------------------------*/
/*------------------------------ TABS ------------------------------------*/
/*------------------------------------------------------------------------*/
/* line 569, ../scss/_blocks.scss */
.tabs {
  float: left;
  width: 100%;
}
/* line 572, ../scss/_blocks.scss */
.tabs .form-horizontal .form-group > label {
  width: 27.5%;
}
/* line 576, ../scss/_blocks.scss */
.tabs .input-fields {
  width: 72.5%;
}
/* line 580, ../scss/_blocks.scss */
.tabs .table-header {
  padding-top: 9px;
  padding-left: 18px;
}

/* line 586, ../scss/_blocks.scss */
.nav-tabs > li > a {
  color: #bcc2ce;
  text-transform: uppercase;
  padding: 19px 36px 21px 30px;
  font-size: 12px;
}
/* line 591, ../scss/_blocks.scss */
.nav-tabs > li > a .fa {
  font-size: 18px;
  margin-right: 13px;
}
/* line 596, ../scss/_blocks.scss */
.nav-tabs > li.active > a {
  color: #00b4ff;
}

/*------------------------------------------------------------------------*/
/*------------------------- MEDIA LIBRARY --------------------------------*/
/*------------------------------------------------------------------------*/
/* line 608, ../scss/_blocks.scss */
.media-library-overlay {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.51);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
/* line 620, ../scss/_blocks.scss */
.media-library-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* line 623, ../scss/_blocks.scss */
.media-library-overlay.active .media-library-container {
  right: 0;
}
/* line 627, ../scss/_blocks.scss */
.media-library-overlay.popup .media-library-container {
  max-width: 90%;
  max-height: 90%;
  width: 995px;
  height: 630px;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  padding: 0;
}
/* line 636, ../scss/_blocks.scss */
.media-library-overlay.popup .media-library-container .media-item {
  float: left;
  width: 33%;
  padding: 0 10px;
  border: 0;
  margin-bottom: 30px;
}
/* line 643, ../scss/_blocks.scss */
.media-library-overlay.popup .media-library-container h3 {
  clear: both;
  padding: 4px 20px;
  border-top: 1px solid #cbcbcb;
  margin-bottom: 20px;
}

/* line 651, ../scss/_blocks.scss */
.media-library-container {
  position: fixed;
  top: 54px;
  right: -340px;
  width: 325px;
  background: #fff;
  border-left: 1px solid #ebebeb;
  padding-left: 10px;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4);
  font-family: open sans, arial;
  -moz-transition: right 0.3s;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
  bottom: 0;
  overflow: hidden;
}
/* line 664, ../scss/_blocks.scss */
.media-library-container h3 {
  font-size: 13px;
  border-bottom: 1px solid #cbcbcb;
}

/* line 673, ../scss/_blocks.scss */
.media-item {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
/* line 677, ../scss/_blocks.scss */
.media-item img {
  float: left;
  margin-right: 30px;
}
/* line 681, ../scss/_blocks.scss */
.media-item h4 {
  font-size: 13px;
  margin-top: 0;
}
/* line 685, ../scss/_blocks.scss */
.media-item a {
  color: #000;
}
/* line 687, ../scss/_blocks.scss */
.media-item a:hover {
  text-decoration: none;
}
/* line 691, ../scss/_blocks.scss */
.media-item p {
  color: #b8b8b8;
}
/* line 694, ../scss/_blocks.scss */
.media-item:after {
  content: '';
  display: table;
  clear: both;
}

/* line 701, ../scss/_blocks.scss */
.open-media-library {
  border-bottom: 1px dashed;
  cursor: pointer;
  vertical-align: top;
  margin-top: 7px;
  display: inline-block;
  margin-right: 20px;
}

/*------------------------------------------------------------------*/
/*----------------------------- TABLES -----------------------------*/
/*------------------------------------------------------------------*/
/* line 5, ../scss/_tables.scss */
.dataTable {
  background: #fff;
}
/* line 7, ../scss/_tables.scss */
.dataTable span {
  color: #6c727c;
  margin-bottom: 10px;
  display: inline-block;
}
/* line 12, ../scss/_tables.scss */
.dataTable .zoom-image {
  float: left;
  position: relative;
  vertical-align: top;
  margin-right: 10px;
}
/* line 17, ../scss/_tables.scss */
.dataTable .zoom-image.bordered {
  border: 1px solid #7f7f7f;
}
/* line 20, ../scss/_tables.scss */
.dataTable .zoom-image span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: #fff;
  transition: 0.3s;
}
/* line 34, ../scss/_tables.scss */
.dataTable .zoom-image:hover span {
  background: rgba(0, 0, 0, 0.4);
}
/* line 38, ../scss/_tables.scss */
.dataTable h3 {
  font-size: inherit;
  color: #000;
  margin-top: 0;
}
/* line 42, ../scss/_tables.scss */
.dataTable h3 a {
  vertical-align: top;
  display: inline-block;
  color: inherit;
}
/* line 47, ../scss/_tables.scss */
.dataTable h3 + .project-meta {
  margin-top: 44px;
}
/* line 51, ../scss/_tables.scss */
.dataTable th:after {
  content: "\f107";
  font-family: fontawesome;
  float: right;
  margin-right: 0px;
}
/* line 58, ../scss/_tables.scss */
.dataTable th.sorting_asc:after {
  content: "\f106";
}
/* line 62, ../scss/_tables.scss */
.dataTable th:first-child:after, .dataTable .dataTable th:last-child:after {
  display: none;
}
/* line 66, ../scss/_tables.scss */
.dataTable th:first-child, .dataTable td:first-child {
  width: 10px;
}

/* line 72, ../scss/_tables.scss */
.dataTables_length {
  float: left;
  white-space: nowrap;
  width: 110px;
  margin-top: 12px;
}
/* line 77, ../scss/_tables.scss */
.dataTables_length .select {
  width: 53px;
}
/* line 79, ../scss/_tables.scss */
.dataTables_length .select .active-option {
  border-radius: 30px;
  padding: 3px 16px 5px 5px;
  border-color: #64738f;
  color: #64738f;
  background: transparent;
  text-align: right;
}
/* line 86, ../scss/_tables.scss */
.dataTables_length .select .active-option:after {
  margin: 3px -11px 2px 0;
  font-size: 11px;
  color: #64738f;
}
/* line 92, ../scss/_tables.scss */
.dataTables_length .select .options {
  z-index: 1;
}

/* line 99, ../scss/_tables.scss */
.dataTables_info {
  display: none;
}

/* line 103, ../scss/_tables.scss */
.dataTables_paginate {
  float: right;
  margin-top: 30px;
  margin-bottom: 50px;
}
/* line 107, ../scss/_tables.scss */
.dataTables_paginate a {
  border: 1px solid #b4b4b4;
  padding: 10px;
  display: inline-block;
  width: 40px;
  text-align: center;
  height: 40px;
  vertical-align: top;
  color: #64738f;
  text-decoration: none;
  cursor: pointer;
}
/* line 118, ../scss/_tables.scss */
.dataTables_paginate a.previous, .dataTables_paginate a.next {
  font-size: 0;
  color: #b4b4b4;
}
/* line 122, ../scss/_tables.scss */
.dataTables_paginate a.previous:before {
  font-family: fontawesome;
  content: "\f104";
  font-size: 13px;
}
/* line 127, ../scss/_tables.scss */
.dataTables_paginate a.next:before {
  font-family: fontawesome;
  content: "\f105";
  font-size: 13px;
}
/* line 133, ../scss/_tables.scss */
.dataTables_paginate span a {
  border-left: 0;
}
/* line 135, ../scss/_tables.scss */
.dataTables_paginate span a:last-child {
  border-right: 0;
}

/* line 142, ../scss/_tables.scss */
label {
  font-weight: 300;
}

/* line 145, ../scss/_tables.scss */
.dataTables_filter {
  float: right;
  font-size: 0;
  margin-top: 11px;
  margin-right: 4px;
  color: #64738f;
}
/* line 151, ../scss/_tables.scss */
.dataTables_filter input {
  border-radius: 40px;
  border: 1px solid;
  background: transparent;
  font-size: 12px;
  width: 224px;
  padding-left: 45px;
  margin-bottom: 20px;
  padding-top: 3px;
  padding-bottom: 4px;
}
/* line 162, ../scss/_tables.scss */
.dataTables_filter label {
  position: relative;
}
/* line 164, ../scss/_tables.scss */
.dataTables_filter label:before {
  content: "\f002";
  font: 14px fontawesome;
  position: absolute;
  left: 17px;
  top: 5px;
  color: inherit;
}

/* line 178, ../scss/_tables.scss */
td, th {
  vertical-align: top;
  padding: 8px 10px;
  font-weight: 300;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

/* line 186, ../scss/_tables.scss */
td:nth-child(2) {
  width: 350px;
}

/* line 192, ../scss/_tables.scss */
.project-meta a {
  color: #767676;
  width: 25px;
  height: 25px;
  border: 1px solid;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
}

/* line 203, ../scss/_tables.scss */
.user-list td:nth-child(5) {
  width: 150px;
}

/* line 207, ../scss/_tables.scss */
.user-list td:nth-child(3) {
  width: 110px;
}

/*------------------------------------------------------------------*/
/*------------------------- TABLE HEADER ---------------------------*/
/*------------------------------------------------------------------*/
/* line 216, ../scss/_tables.scss */
.table-header {
  background: #fff;
  padding-top: 5px;
  padding-left: 9px;
  padding-right: 17px;
  border-left: 3px solid #f7bb9d;
  border-bottom: 1px solid #EEF1F5;
}
/* line 223, ../scss/_tables.scss */
.table-header.blue-border {
  border-left-color: #75acff;
}
/* line 226, ../scss/_tables.scss */
.table-header.red-border {
  border-left-color: #ff0f0f;
}
/* line 229, ../scss/_tables.scss */
.table-header.light-green-border {
  border-left-color: #4aefab;
}

/* line 234, ../scss/_tables.scss */
.table-header:after {
  content: '';
  display: table;
  clear: both;
}

/* line 240, ../scss/_tables.scss */
.table-header h3 {
  display: inline-block;
  margin-top: 0;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
  font-family: open sans, arial;
}

/* line 249, ../scss/_tables.scss */
.table-header .checkbox-wrapper {
  margin-right: 13px;
}

/* line 253, ../scss/_tables.scss */
.table-header + .table .tr:first-child > div {
  padding-top: 24px;
}

/* line 257, ../scss/_tables.scss */
.table-header + .table .tr > div:first-child {
  padding-right: 7px;
  width: 30px;
}

/* line 262, ../scss/_tables.scss */
.table-header + .table .tr > div:nth-child(2) {
  width: 39px;
}

/* line 266, ../scss/_tables.scss */
.table-header + .table .tr > div:nth-child(3) {
  padding-left: 18px;
}

/* line 270, ../scss/_tables.scss */
.table-header + .table .tr:last-child > div {
  padding-bottom: 17px;
}

/*-----------------------------------------------------------------*/
/*--------------------------- IMAGE TABLE -------------------------*/
/*-----------------------------------------------------------------*/
/* line 280, ../scss/_tables.scss */
.image-table {
  background-color: transparent;
  width: 100%;
  border: 1px solid #cbcbcb;
  border-left: 0;
}
/* line 285, ../scss/_tables.scss */
.image-table td, .image-table th {
  border: 1px solid #cbcbcb;
  border-left: 0;
  vertical-align: middle;
  padding: 8px 7px;
  white-space: nowrap;
}
/* line 291, ../scss/_tables.scss */
.image-table td .open-media-library:before, .image-table th .open-media-library:before {
  margin-left: -39px;
  content: '';
  width: 34px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -10px;
  margin-bottom: 0px;
  margin-right: 4px;
}
/* line 302, ../scss/_tables.scss */
.image-table td:nth-child(1), .image-table th:nth-child(1) {
  width: 45px;
}
/* line 305, ../scss/_tables.scss */
.image-table td:nth-child(2), .image-table th:nth-child(2) {
  width: 145px;
}
/* line 308, ../scss/_tables.scss */
.image-table td:nth-child(3), .image-table th:nth-child(3) {
  width: 200px;
}
/* line 311, ../scss/_tables.scss */
.image-table td:nth-child(5), .image-table th:nth-child(5) {
  width: 50px;
  text-align: center;
}
/* line 315, ../scss/_tables.scss */
.image-table td img, .image-table th img {
  width: 34px;
}
/* line 320, ../scss/_tables.scss */
.image-table .edit-block .edit-form {
  position: relative;
}
/* line 322, ../scss/_tables.scss */
.image-table .edit-block .edit-form .btn {
  position: absolute;
  width: 24px;
  height: 24px;
  font-size: 13px;
  text-align: center;
  right: 0;
}
/* line 329, ../scss/_tables.scss */
.image-table .edit-block .edit-form .btn.save-edit {
  right: 0;
}
/* line 331, ../scss/_tables.scss */
.image-table .edit-block .edit-form .btn.save-edit .fa {
  margin-right: 3px;
}
/* line 335, ../scss/_tables.scss */
.image-table .edit-block .edit-form .btn .fa {
  margin-right: 0px;
}

/* line 342, ../scss/_tables.scss */
.add-image-row, .remove-image-row {
  border: 1px solid;
  color: #00b4ff;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  cursor: pointer;
}
/* line 351, ../scss/_tables.scss */
.add-image-row:hover, .remove-image-row:hover {
  text-decoration: none;
  color: #ff0000;
}
/* line 355, ../scss/_tables.scss */
.add-image-row.fa-plus, .fa-plus.remove-image-row {
  float: right;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 14px;
}

/* line 362, ../scss/_tables.scss */
.remove-image-row {
  color: #ff0000;
}

/*------------------------------------------------------------------*/
/*----------------------------- FORMS ------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*--------------------------- BUTTONS ------------------------------*/
/*------------------------------------------------------------------*/
/* line 5, ../scss/forms/_buttons.scss */
.btn {
  background: #00b0cb;
  color: #fff;
  border-radius: 0;
  font-size: 15px;
  border: 0;
  font-weight: 400;
  margin-bottom: 20px;
  height: 36px;
  padding: 7px 29px;
  display: inline-block;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 17, ../scss/forms/_buttons.scss */
.btn + .btn {
  margin-left: 17px;
}
/* line 20, ../scss/forms/_buttons.scss */
.btn:hover {
  background: #0091a7;
  color: #fff;
}
/* line 24, ../scss/forms/_buttons.scss */
.btn.outlined {
  border: 1px solid;
  color: #00b0cb;
  background: transparent;
}
/* line 29, ../scss/forms/_buttons.scss */
.btn.rounded {
  border-radius: 20px;
}
/* line 32, ../scss/forms/_buttons.scss */
.btn.btn-circle {
  width: 39px;
  height: 39px;
  padding: 0;
}
/* line 37, ../scss/forms/_buttons.scss */
.btn.btn-big {
  padding: 12px 21px;
  height: 47px;
  letter-spacing: 0.5px;
}
/* line 42, ../scss/forms/_buttons.scss */
.btn.btn-small {
  padding: 7px 20px;
  height: 35px;
  letter-spacing: 0px;
  font-size: 12px;
}
/* line 48, ../scss/forms/_buttons.scss */
.btn.btn-mini {
  padding: 5px 11px;
  height: 27px;
  font-size: 12px;
}
/* line 53, ../scss/forms/_buttons.scss */
.btn:last-child {
  margin-right: 0;
}
/* line 56, ../scss/forms/_buttons.scss */
.btn .fa {
  margin-right: 10px;
}

/* line 61, ../scss/forms/_buttons.scss */
.btn-red {
  background-color: #d2232a;
}
/* line 63, ../scss/forms/_buttons.scss */
.btn-red:hover {
  background-color: #ab1c22;
}

/* line 68, ../scss/forms/_buttons.scss */
.btn-grey {
  background-color: #99a2af;
}
/* line 70, ../scss/forms/_buttons.scss */
.btn-grey:hover {
  background-color: #7f8b9b;
}
/* line 73, ../scss/forms/_buttons.scss */
.btn-grey.outlined {
  border: 1px solid;
  color: #99a2af;
  background: transparent;
}

/* line 80, ../scss/forms/_buttons.scss */
.btn-orange {
  background-color: #F39769;
}
/* line 82, ../scss/forms/_buttons.scss */
.btn-orange:hover {
  background-color: #f07a3f;
}
/* line 85, ../scss/forms/_buttons.scss */
.btn-orange.outlined {
  border: 1px solid;
  color: #F39769;
  background: transparent;
}

/* line 92, ../scss/forms/_buttons.scss */
.btn-red {
  background-color: #d2232a;
}
/* line 94, ../scss/forms/_buttons.scss */
.btn-red:hover {
  background-color: #ab1c22;
}
/* line 97, ../scss/forms/_buttons.scss */
.btn-red.outlined {
  border: 1px solid;
  color: #d2232a;
  background: transparent;
}

/* line 104, ../scss/forms/_buttons.scss */
.btn-dark-blue {
  background-color: #64738f;
}
/* line 106, ../scss/forms/_buttons.scss */
.btn-dark-blue:hover {
  background-color: #515d74;
}
/* line 109, ../scss/forms/_buttons.scss */
.btn-dark-blue.outlined {
  border: 1px solid;
  color: #64738f;
  background: transparent;
}

/* line 116, ../scss/forms/_buttons.scss */
.btn-light-blue {
  background-color: #00B4FF;
}
/* line 118, ../scss/forms/_buttons.scss */
.btn-light-blue:hover {
  background-color: #0094d1;
}
/* line 121, ../scss/forms/_buttons.scss */
.btn-light-blue.outlined {
  border: 1px solid;
  color: #00B4FF;
  background: transparent;
}

/* line 128, ../scss/forms/_buttons.scss */
.btn-light-grey {
  background-color: #bcc2ce;
}
/* line 130, ../scss/forms/_buttons.scss */
.btn-light-grey:hover {
  background-color: #a1aabb;
}
/* line 133, ../scss/forms/_buttons.scss */
.btn-light-grey.outlined {
  border: 1px solid;
  color: #bcc2ce;
  background: transparent;
}

/* line 140, ../scss/forms/_buttons.scss */
.btn-light-green {
  background-color: #4aefab;
}
/* line 142, ../scss/forms/_buttons.scss */
.btn-light-green:hover {
  background-color: #20eb97;
}
/* line 145, ../scss/forms/_buttons.scss */
.btn-light-green.outlined {
  border: 1px solid;
  color: #4aefab;
  background: transparent;
}

/*------------------------------------------------------------------*/
/*------------------------ INPUT FIELDS ----------------------------*/
/*------------------------------------------------------------------*/
/* line 5, ../scss/forms/_fields.scss */
.form-control::-webkit-input-placeholder {
  color: #000;
}

/* line 6, ../scss/forms/_fields.scss */
.form-control::-moz-placeholder {
  color: #000;
}

/* line 7, ../scss/forms/_fields.scss */
.form-control:-moz-placeholder {
  color: #000;
}

/* line 8, ../scss/forms/_fields.scss */
.form-control:-ms-input-placeholder {
  color: #000;
}

/* line 10, ../scss/forms/_fields.scss */
.form-control.bottom-bordered::-webkit-input-placeholder {
  line-height: 20px;
}

/* line 11, ../scss/forms/_fields.scss */
.form-control.bottom-bordered::-moz-placeholder {
  line-height: 20px;
}

/* line 12, ../scss/forms/_fields.scss */
.form-control.bottom-bordered:-moz-placeholder {
  line-height: 20px;
}

/* line 13, ../scss/forms/_fields.scss */
.form-control.bottom-bordered:-ms-input-placeholder {
  line-height: 20px;
}

/* line 16, ../scss/forms/_fields.scss */
.bottom-bordered {
  border: 1px solid #000;
  border-radius: 0;
  border-width: 0 0 1px 0px;
  background: transparent;
  box-shadow: none;
  padding: 0;
  line-height: 20px;
  padding-left: 3px;
  letter-spacing: -0.5px;
  margin-bottom: 24px;
  height: 38px;
}
/* line 28, ../scss/forms/_fields.scss */
.bottom-bordered:focus {
  box-shadow: none;
  border-color: #000;
}

/* line 34, ../scss/forms/_fields.scss */
.form-horizontal .control-label {
  text-align: left;
  font-weight: 500;
}

/* line 39, ../scss/forms/_fields.scss */
.form-control {
  border-radius: 0;
  box-shadow: none;
  color: #000;
}
/* line 43, ../scss/forms/_fields.scss */
.form-control:focus {
  border-color: #cbcbcb;
  box-shadow: none;
}

/* line 50, ../scss/forms/_fields.scss */
.field-description {
  font-size: 11px;
  margin-left: 0;
  display: block;
  float: left;
  width: 21%;
  padding-left: 6px;
}

/* line 59, ../scss/forms/_fields.scss */
.input-group-addon {
  border-radius: 0;
  background: transparent;
}
/* line 62, ../scss/forms/_fields.scss */
.input-group-addon .fa {
  width: 17px;
}

/* line 67, ../scss/forms/_fields.scss */
input[type=email]:focus:invalid + .input-error {
  opacity: 1;
  height: 36px;
}

/* line 72, ../scss/forms/_fields.scss */
label.error {
  position: absolute;
  left: 101%;
  width: 210px;
  top: 8px;
  font-weight: 500;
}

/* line 80, ../scss/forms/_fields.scss */
.form-control.error, .error {
  color: #ff5500;
  border-color: #ff5500;
}

/* line 84, ../scss/forms/_fields.scss */
.charpicker {
  cursor: pointer;
}

/* line 88, ../scss/forms/_fields.scss */
.form-control[disabled],
.form-control[readonly],
fieldset[disabled]
.form-control,
[readonly] {
  background: #fff;
  opacity: 0.4;
}

/*------------------------------------------------------------------*/
/*--------------------------- CHECKBOX -----------------------------*/
/*------------------------------------------------------------------*/
/* line 101, ../scss/forms/_fields.scss */
.checkbox-rounded {
  opacity: 0;
}
/* line 103, ../scss/forms/_fields.scss */
.checkbox-rounded + span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  margin-left: -20px;
  border: 1px solid #cdcdcd;
  margin-top: 3px;
  cursor: pointer;
  position: relative;
  background: #fff;
  vertical-align: top;
  margin-right: 10px;
}
/* line 116, ../scss/forms/_fields.scss */
.checkbox-rounded + span:after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 6px;
  margin: 4px;
}
/* line 125, ../scss/forms/_fields.scss */
.checkbox-rounded:checked + span:after {
  background: #000;
}

/* line 132, ../scss/forms/_fields.scss */
.checkbox-wrapper .custom-checkbox.slide-checkbox {
  width: 28px;
  position: relative;
  z-index: 10;
  margin-right: -28px;
  margin-left: 5px;
}
/* line 138, ../scss/forms/_fields.scss */
.checkbox-wrapper .custom-checkbox.slide-checkbox + span {
  width: 28px;
  border-radius: 11px;
  height: 17px;
  border-color: #b2b2b2;
  background: #fff;
  border-width: 2px;
  text-align: left;
  transition: 0.3s;
}
/* line 147, ../scss/forms/_fields.scss */
.checkbox-wrapper .custom-checkbox.slide-checkbox + span:after {
  content: '';
  width: 17px;
  height: 17px;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #b2b2b2;
  position: relative;
  top: -2px;
  transition: 0.3s;
  left: -2px;
}
/* line 161, ../scss/forms/_fields.scss */
.checkbox-wrapper .custom-checkbox.slide-checkbox:checked + span {
  background: #75acff;
  border-color: #75acff;
}
/* line 164, ../scss/forms/_fields.scss */
.checkbox-wrapper .custom-checkbox.slide-checkbox:checked + span:after {
  left: 9px;
  border-color: #75acff;
  content: '';
}

/*------------------------------------------------------------------*/
/*--------------------------- SELECTS ------------------------------*/
/*------------------------------------------------------------------*/
/* line 177, ../scss/forms/_fields.scss */
.select {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  margin-right: 12px;
  position: relative;
  z-index: 1;
}
/* line 184, ../scss/forms/_fields.scss */
.select select {
  display: none;
}
/* line 187, ../scss/forms/_fields.scss */
.select.active .options {
  opacity: 1;
  visibility: visible;
}

/* line 194, ../scss/forms/_fields.scss */
.active-option {
  background: #fff;
  border: 1px solid #cbcbcb;
  padding: 6px 17px 8px;
  cursor: pointer;
}
/* line 199, ../scss/forms/_fields.scss */
.active-option:after {
  content: "\f107";
  font-family: fontawesome;
  float: right;
  margin: 2px -5px 2px 0;
}

/* line 206, ../scss/forms/_fields.scss */
.options {
  background: #fff;
  margin-top: 4px;
  border: 1px solid #cbcbcb;
  padding: 5px 2px;
  visibility: hidden;
  opacity: 0;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 100%;
  width: 100%;
}
/* line 217, ../scss/forms/_fields.scss */
.options a {
  display: block;
  color: #000;
  padding: 2px 15px 3px;
  cursor: pointer;
}
/* line 222, ../scss/forms/_fields.scss */
.options a:hover {
  background: #eef1f5;
  text-decoration: none;
}

/*------------------------------------------------------------------*/
/*------------------------- CHECKBOXES -----------------------------*/
/*------------------------------------------------------------------*/
/* line 235, ../scss/forms/_fields.scss */
.checkbox-wrapper {
  display: inline-block;
}
/* line 237, ../scss/forms/_fields.scss */
.checkbox-wrapper .custom-checkbox {
  opacity: 0;
  width: 18px;
  height: 18px;
  margin-right: -18px;
  vertical-align: top;
  cursor: pointer;
  margin-top: 0;
}
/* line 245, ../scss/forms/_fields.scss */
.checkbox-wrapper .custom-checkbox:checked + span:after {
  content: "\f00c";
  font-family: fontawesome;
  font-size: 11px;
}
/* line 251, ../scss/forms/_fields.scss */
.checkbox-wrapper span {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #eef1f5;
  margin-top: 4px;
  vertical-align: top;
  border: 1px solid #cbcbcb;
  text-align: center;
  line-height: 15px;
  margin-top: 0;
}

/* line 265, ../scss/forms/_fields.scss */
.form-horizontal .checkbox {
  font-weight: 400;
  margin-bottom: 8px;
  display: block;
}
/* line 269, ../scss/forms/_fields.scss */
.form-horizontal .checkbox .checkbox-wrapper {
  margin-right: 9px;
}

/* line 274, ../scss/forms/_fields.scss */
.input-fields {
  float: left;
  width: 79%;
  position: relative;
}

/* line 281, ../scss/forms/_fields.scss */
.form-horizontal .block {
  padding-bottom: 0px;
  margin-bottom: 27px;
}
/* line 285, ../scss/forms/_fields.scss */
.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}
/* line 288, ../scss/forms/_fields.scss */
.form-horizontal .form-group > label {
  width: 20%;
  float: left;
}
/* line 295, ../scss/forms/_fields.scss */
.form-horizontal .radio-inline {
  border-right: 1px solid #cbcbcb;
  padding-top: 0;
  margin-top: 10px;
  padding-right: 10px;
  margin-bottom: 11px;
}
/* line 301, ../scss/forms/_fields.scss */
.form-horizontal .radio-inline:last-child {
  border: 0;
}

/*------------------------------------------------------------------*/
/*------------------------ RADIO BUTTONS ---------------------------*/
/*------------------------------------------------------------------*/
/* line 312, ../scss/forms/_fields.scss */
input[type=radio] {
  opacity: 0;
  width: 18px;
  height: 18px;
  margin-top: 0;
}

/* line 319, ../scss/forms/_fields.scss */
input[type=radio] + span {
  width: 18px;
  height: 18px;
  display: inline-block;
  border: 1px solid #cbcbcb;
  border-radius: 50%;
  margin-left: -20px;
  vertical-align: top;
}

/* line 329, ../scss/forms/_fields.scss */
input[type=radio] + span:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: #7d7d7d;
  margin: 3px;
  border-radius: 50%;
  transition: 0.3s;
  transform: scale(0);
  opacity: 0;
}

/* line 342, ../scss/forms/_fields.scss */
input[type=radio]:checked + span:after {
  opacity: 1;
  transform: scale(1);
}

/* line 347, ../scss/forms/_fields.scss */
.radio-wrapper {
  display: inline-block;
  margin-right: 7px;
}

/* line 352, ../scss/forms/_fields.scss */
[readonly]:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  -webkit-user-select: none;
}

/* line 363, ../scss/forms/_fields.scss */
[readonly] {
  position: relative;
}

/*------------------------------------------------------------------*/
/*-------------------------- TEXTAREAS -----------------------------*/
/*------------------------------------------------------------------*/
/* line 372, ../scss/forms/_fields.scss */
textarea.form-control {
  min-height: 130px;
  margin-bottom: 10px;
}
/* line 375, ../scss/forms/_fields.scss */
textarea.form-control.input-code {
  font-family: Courier, DejaVu Sans Mono;
  font-size: 13px;
  font-weight: 600;
}

/*------------------------------------------------------------------*/
/*----------------------------- FILE -------------------------------*/
/*------------------------------------------------------------------*/
/* line 388, ../scss/forms/_fields.scss */
.upload-image-wrapper .btn {
  float: right;
  margin: -1px;
  padding-left: 12px;
  padding-right: 11px;
  font-size: 13px;
  font-family: open sans, arial;
}
/* line 395, ../scss/forms/_fields.scss */
.upload-image-wrapper .btn.add {
  padding-left: 25px;
  padding-right: 25px;
}
/* line 400, ../scss/forms/_fields.scss */
.upload-image-wrapper .upload-image {
  visibility: hidden;
  height: 0;
  width: 0;
}
/* line 405, ../scss/forms/_fields.scss */
.upload-image-wrapper .change, .upload-image-wrapper .delete {
  display: none;
}

/* line 410, ../scss/forms/_fields.scss */
.upload-field {
  border: 1px solid #cbcbcb;
  height: 35px;
}
/* line 413, ../scss/forms/_fields.scss */
.upload-field .fa {
  font-size: 20px;
  margin: 6px;
  float: left;
}
/* line 418, ../scss/forms/_fields.scss */
.upload-field .image-title {
  margin: 7px;
  display: inline-block;
  float: left;
}
/* line 423, ../scss/forms/_fields.scss */
.upload-field:after {
  content: '';
  display: table;
  clear: both;
}

/* line 430, ../scss/forms/_fields.scss */
.uploadPreview {
  width: 75px;
  height: 75px;
  float: left;
  margin-right: 22px;
  position: relative;
}
/* line 436, ../scss/forms/_fields.scss */
.uploadPreview img {
  max-width: 100%;
}
/* line 439, ../scss/forms/_fields.scss */
.uploadPreview .image-size {
  font: 13px open sans, tahoma;
  color: #424242;
  position: absolute;
  left: 100%;
  bottom: 0;
  margin-left: 22px;
}

/* line 451, ../scss/forms/_fields.scss */
.uploaded.file-upload .upload-field {
  margin-left: 0;
}
/* line 454, ../scss/forms/_fields.scss */
.uploaded.file-upload .uploadPreview {
  width: 0;
}
/* line 457, ../scss/forms/_fields.scss */
.uploaded.file-upload .image-size {
  display: none;
}
/* line 461, ../scss/forms/_fields.scss */
.uploaded .upload-field {
  margin-left: 97px;
}
/* line 464, ../scss/forms/_fields.scss */
.uploaded .uploadPreview {
  width: 75px;
}
/* line 467, ../scss/forms/_fields.scss */
.uploaded .add {
  display: none;
}
/* line 470, ../scss/forms/_fields.scss */
.uploaded .change, .uploaded .delete {
  display: block;
}

/*--------------------------------------------------------------------*/
/*-------------------------- MULTI SELECT ----------------------------*/
/*--------------------------------------------------------------------*/
/* line 482, ../scss/forms/_fields.scss */
.ms-container {
  width: 100%;
  position: relative;
  min-height: 220px;
}
/* line 486, ../scss/forms/_fields.scss */
.ms-container:after {
  content: "\f0ec";
  font-family: fontawesome;
  color: #000;
  position: absolute;
  left: 50%;
  top: 115px;
  font-size: 18px;
  height: auto;
  margin: -8px;
  visibility: visible;
}
/* line 498, ../scss/forms/_fields.scss */
.ms-container .ms-list {
  height: 220px;
  border-radius: 0;
  outline: none;
}
/* line 502, ../scss/forms/_fields.scss */
.ms-container .ms-list.ms-focus {
  border-color: #ccc;
  box-shadow: none;
}
/* line 507, ../scss/forms/_fields.scss */
.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection {
  padding: 9px 10px;
  font: 13px Open sans, arial;
}
/* line 511, ../scss/forms/_fields.scss */
.ms-container .ms-selectable li.ms-elem-selectable.ms-hover,
.ms-container .ms-selection li.ms-elem-selection.ms-hover {
  background-color: #F1F1F1;
  color: inherit;
}

/*------------------------------------------------------------------*/
/*------------------------- MEDIA QUERIES --------------------------*/
/*------------------------------------------------------------------*/
@media (max-width: 1024px) {
  /* line 2, ../scss/_media.scss */
  .breadcrumbs ul {
    padding-left: 5px;
  }

  /* line 5, ../scss/_media.scss */
  .account-nav {
    margin-right: 5px;
  }

  /* line 8, ../scss/_media.scss */
  .form-horizontal .form-group > label, .input-fields, .field-description {
    width: 100%;
  }

  /* line 11, ../scss/_media.scss */
  label.error {
    position: static;
  }

  /* line 14, ../scss/_media.scss */
  .mail-header .mail-title {
    width: 24.6%;
  }

  /* line 18, ../scss/_media.scss */
  .mail-header .mail-value {
    width: 75%;
  }

  /* line 21, ../scss/_media.scss */
  .table-header + .table .tr > div {
    white-space: normal;
  }

  /* line 24, ../scss/_media.scss */
  .account-nav li a {
    padding: 12px 5px 6px 0px;
  }

  /* line 27, ../scss/_media.scss */
  .table {
    font-size: 12px;
  }

  /* line 31, ../scss/_media.scss */
  .tr > div, .th > div, .table.pool-table > div > div:nth-child(3) {
    padding: 6px 5px;
  }

  /* line 34, ../scss/_media.scss */
  .filter-options .select {
    width: 190px;
    margin-bottom: 14px;
  }
}
